.privacy
  %h1 Privacy Policy
  %hr

  %ul
    %li
      This Privacy Policy covers how WallTube treats personal information and other user information,
      which WallTube collects and receives from Facebook with user's consent.

    %li
      By Personal information that WallTube collects we mean:
      %strong
        first name, last name, email address and links to YouTube videos
      that where published by given user on his Facebook Wall.

    %li
      Personal data that WallTube collects are being used to identify the user
      within WallTube service
      and to allow the user to create YouTube playlist using data retrieved from links to YouTube videos that
      were collected from posts on user's Facebook Wall.

    %li
      WallTube does not rent, sell or share personal information about user with other people
      or companies.
